{
  "project": "playbook-soporte-fundacion-luker",
  "accounts": [
    {
      "module": "Correo Practicante SENA",
      "email": "practicantesena@fundacionluker.org.co",
      "password": "REEMPLAZAR_LOCAL"
    },
    {
      "module": "Correo Soporte",
      "email": "soporte@fundacionluker.org.co",
      "password": "REEMPLAZAR_LOCAL"
    },
    {
      "module": "Google Forms",
      "email": "Lukerformare@gmail.com",
      "password": "REEMPLAZAR_LOCAL"
    },
    {
      "module": "Monitoreo",
      "email": "monitoreo@funluker.org.co",
      "password": "REEMPLAZAR_LOCAL"
    }
  ],
  "systems": [
    {
      "name": "Almera SGI",
      "url": "https://sgi.almeraim.com/sgi/seguimiento/?nosgim&c=sgifunluker",
      "connection": "sgifunluker"
    },
    {
      "name": "Google Form",
      "url": "https://docs.google.com/forms/d/1cYfzVeotivUyjNZNIFEqflQlmOhGT1rNoTUGXvY2LMk/edit"
    },
    {
      "name": "ClickUp",
      "url": "https://app.clickup.com/90171139829/v/b/6-901712948322-2"
    }
  ]
}
